# Optionnel: clé OpenRouteService pour géocodage et itinéraire réel
ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImE4N2U2M2NjY2E1ZTRjN2M4MDUzMTAyMjc5NmNmYzBjIiwiaCI6Im11cm11cjY0In0=
